code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}

table.wide {
    width: 100%;
}

table.wide td {
    padding-top: 20px;
    padding-bottom: 20px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}
