body {
  font-family: sans-serif;
}

text {
  font-family: sans-serif;
  font-size: 11pt;
}

.title text {
  dominant-baseline: middle;
  fill: blue;
  text-anchor: middle;
}

.y.axis text {
  dominant-baseline: middle;
  text-anchor: end;
}

.y.axis text.title {
  text-anchor: middle;
  fill: slateblue;
}

.x.axis text {
  dominant-baseline: hanging;
  text-anchor: middle;
}

.x.axis text.title {
  fill: slateblue;
}

line.axis.grid {
  fill: none;
  stroke-width: 1;
  pointer-events: none;
}

line.x.axis.grid {
  stroke: rgb(200, 200, 200);
  stroke-width: 3;
}

line.y.axis.grid {
  stroke: white;
}

.extent {
  fill: #cac;
  opacity: 0.3;
}

circle.selected {
  fill: hotpink;
  opacity: 1;
}

.caption {
  margin-left: 60px;
  width: 600px;
}

.d3-tip {
  background: darkslateblue;
  color: #fff;
  stroke: none;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
  padding: 5px;
}

.d3-tip.e:after {
  color: darkslateblue;
}
