body {
    margin-left: 100px;
}
code {
    padding: 0;
    font-size: 90%;
    color: black;
    background-color: white;
    border: 0px solid white;
}
pre code {
    border: 1px solid #ccc;    
}
a
{
  color: purple;
  text-decoration: none;
  background-color: transparent;
}

a:hover
{
  color: purple;
  background: #CAFFFF;
}
